
  <h2 class="title">All Contacts</h2>
  <ul class="txt">
  <% @@rolodex.contacts.each do |contact| %>
    <li class= "txt"><%= contact.first_name %> <%= contact.last_name %></li>
     <p><a href="/contacts/<%= contact.id %>/edit">Edit Contacts</a></p>
  <% end %>
  </ul>