

<div class="index">
    <section class="placeholder">

    </section>
    <h1 class="welcome"> Welcome to <%= @crm_app_name %></h1>
  <div class="indexcolor">

    <div class="titlepg">
    <h2 class=>Main Menu </h2>

      <a href="/contacts">View all contacts </a>
     </div>
  </div>
</div>