<div class="index">
    <section class="placeholder">

    </section>
    <h1 class="welcome"> Welcome to <%= @crm_app_name %></h1>
       <div class="indexcolor">
    <h2>Main Menu </h2>
    <ul>
      <li><a href="/contacts">View all contacts </a> </li>
    </ul>


    </div>
</div>