<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
   <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="contacts/new">New Contact</a></li>

    </ul>
  </nav>


  </header>


<%= yield %>
<footer>&copy; &nbsp;2015 </footer>
</body>
</html>