
  <h2 class="title">Create new Contact</h2>
  <form action="/contacts" method="post">

<div class ="field"
  <label for"first-name">First Name</label>
    <input class="ifname"type="text" name="first_name">
</div>

<div class ="field"
  <label for="last-name">Last Name</label>
    <input class="ilname"type="text" name="last_name">
</div>

<div class="field">
  <label for="email">Email </label>
    <input class="iemail" type="email" name="email">
</div>

<div class="field">
  <label for="notes">Notes</label>
    <input class="inotes" type="text" name="notes">
</div>

<div class="field">
<table>
    <thead><tr><th> <label class="label" for"submit">Submit</label>
    </th>
    </tr>
    </thead>
    <tr><th>
    <button class ="button" type="submit">
    <input type=" " name="Submit"/>
    </button>
    </th>
    </tr>
  </div>
</table>
 </form>
</div>
